# Django Core
Django
django-environ

# REST Framework
djangorestframework
djangorestframework-simplejwt

# Database
psycopg2-binary; sys_platform != "win32"

# Security
django-cors-headers
django-ratelimit
argon2-cffi

# Production Server
gunicorn; sys_platform != "win32"
whitenoise

# Utilities
python-decouple
Pillow
python-magic; sys_platform != "win32"  # For MIME type detection
python-magic-bin; sys_platform == "win32"
